### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven build directory
target/

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
.classpath
.project
.settings/